version: "3.8"

services:
  squid:
    image: sameersbn/squid:latest
    container_name: squid
    restart: always
    ports:
      - "3128:3128"
    volumes:
      - ./config/squid.conf:/etc/squid/squid.conf:ro
      - ./auth/passwd:/etc/squid/passwd:ro
      - ./logs:/var/log/squid